/*
=============== 
Variables
===============
*/

:root {
    --max-width: 1170px;
}

/*
  =============== 
  Global Styles
  ===============
  */

  /* global classes */

  /*
  ===============
  Navbar
  ===============
  */
  .navbar {
      height: 5rem;
      display: flex;
      align-items: center;
      background: transparent;
  }

  .navbar-center {
      width: 90vw;
      max-width: var(--max-width);
      margin: 0 auto;
  }

  /* social links */